*{
    font-family: "Open Sans", sans-serif;
   
}


body{
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    min-height: 100vh;
}

img{
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px;
    padding-top: 10px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 20px;
}


/* Styles for the 'Home' link */
.navbar a[href='./index.html'] {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}


.navbar h1 {
   color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px; 
    margin: 0 auto;
    font-weight: bold;
    margin-left: 20px;
    font-weight: normal; 
}
h1{
    display: flex;
    flex-direction:  column;
}

.navbar a {
    color: black;  
    text-decoration: underline;
    font-weight: bold;
    margin-right: auto; 
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-links {
    list-style: none; 
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: white; 
    text-decoration: none; 
    font-weight: bold;
}

.navbar-links a:hover, .navbar-links a:focus {
    color: #f0f0f0; 
    text-decoration: underline; 
}


.inner-container{
    width: auto;
    background-color: #fdfdfd;
}


.about-section h1{
    text-align: center;
    font-weight: bold;
}

.text{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}


p{
    font-family: cursive;
    font-size: 20px;
    padding-left: 10px;
}


footer {
   margin-top: 40px;
   width: 100%;
   background-color: rgb(241, 237, 232);
  
}
strong {
    font-weight: bold; /* Ensures that <strong> is always bold */
}

footer ul li {
    font-size: 1em; 
    color: black; 
    transition: color 0.3s ease, font-size 0.3s ease; 
    font-family: cursive;
    font-size: 18px;
    padding-left: 10px;
    text-align: center;
    height: 30px;

}
footer ul li:hover {
    color: blue; 
    font-size: 1.4em; 
}
.devs{
    text-align: center;
    padding-top: 10px;
}

@media screen and (max-width:600px){
    .inner-container{
        padding-top: 150px;
        background-color:darkgrey;
    }
}


