nav.header {
    display: flex;
    flex-direction: row;
    background-color:turquoise;
    justify-content: space-around;

}

button.exercise, .diet  {
    width:15%;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(20, 148, 233);
    font-size: 25px;
}

button.exercise:hover , .diet:hover{
    background-color: skyblue;
}



h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

article.info {
    display:flex;
    justify-content: center;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

input#name{
    padding: 10px;
    width:15%;
    font-family: Arial, Helvetica, sans-serif
}

input#submit{
    background-color: yellow;
    padding:20px;
    font-size: 19px;
}
input#submit:hover{
    background-color:orange;
}